{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'songs/style.css' %}" />
{% if latest_song_list %}
    <ul>
    {% for song in latest_song_list %}
        <li>song.title</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No songs are available.</p>
{% endif %}

<!-- let's make a button to poll tinysong API with a hardcoded search term -->
<form action="{% url 'songs:searchSong'  %}" method="post">
{% csrf_token %}
<input type="text" name="title"/>
<input type="submit" value="Search" />
</form>
