{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'songs/style.css' %}" />

{% if latest_song_list %}
<ul>
  <li>
    <div id="search">

      <!-- here's the search box -->
      <form action="{% url 'songs:searchSong'  %}" method="post">
	{% csrf_token %}
	<input id="searchBox" type="text" name="title" size="50" height="100px"/>
	<input id="searchButton" type="submit" value="Search" />
      </form>
    </div>
  </li>

<!-- list of top ten songs (should we do more)? -->
{% for song in latest_song_list %}
  <li>
    <div class="song"><span id="title"><b> {{song.title}} </b></span><br>
      <form action="{% url 'songs:vote' song.id_code %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="vote_up" value="True"/>
	<input id="button" type="submit" value="+1"/>
      </form>
      <form action="{% url 'songs:vote' song.id_code %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="vote_up" value="False"/>
	<input id="button" type="submit" value="-1"/>
      </form>
      <span id="vote"> {{ song.votes }} vote{{ song.votes|pluralize }}</span>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No songs are available.</p>
{% endif %}

