<html>
  <head>
    <title>Every1 DJ Search Results</title>
  </head>

  {% load staticfiles %}
  <body style="background-color:#98fb98">
    <h1> Search Results: </h1>
    <ul style="list-style-type:none">
      {% for song in tiny_json %}
      <li>
	<ul style="list-style-type:none; margin-bottom: 40px;">
	  <li>
	    {{ song.SongName }}
	  </li>
	  <li>
	    {{ song.ArtistName }}
	  </li>
	  <li>
	    {{ song.AlbumName }}
	  </li>
	  <li>
	    <form action="{% url 'songs:vote' song.SongID %}" method="post">
	      {% csrf_token %}
	      <input type="hidden" name="title" value="{{song.SongName}}"/>
	      <input type="hidden" name="artist" value="{{song.ArtistName}}"/>
	      <input type="hidden" name="album" value="{{song.AlbumName}}"/>
	      <input type="hidden" name="vote_up" value="True"/>
	      <input id="button" type="submit" style="width:100px; height:50px; font-size:40px;" value="vote"/>
	    </form>
	  </li>
	</ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
