{% load staticfiles %}
<h1> search results </h1>
<ul>
  {% for song in tiny_json %}
  <li>
    <form action="{% url 'songs:vote' song.SongID %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="title" value="{{song.SongName}}"/>
      <input type="hidden" name="artist" value="{{song.ArtistName}}"/>
      <input type="hidden" name="album" value="{{song.AlbumName}}"/>
      <input type="hidden" name="vote_up" value="True"/>
      <input type="submit" value="vote"/>
    </form>
    <ul>
      <li>
	{{ song.SongName }}
      </li>
      <li>
	{{ song.ArtistName }}
      </li>
      <li>
	{{ song.AlbumName }}
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>


